<app-common-page>
  <div class="text-center py-8 flex flex-col">
    <h1 class="text-xl font-bold">Catch the ⚽ and stay away from the 🏀!</h1>
    <div class="camera-selector">
      <app-video-source-selector
        [selectedCameraID]="selectedCameraID"
        (cameraSelected)="onCameraSelected($event)"
      ></app-video-source-selector>
    </div>

    <div class="parent-video-container mt-4">
      <app-video-preview
        class="video-preview"
        [selectedCameraID]="selectedCameraID"
        (videoReady)="onVideoReady($event)"
      ></app-video-preview>
      <app-pose-preview class="pose-preview" [video]="video"></app-pose-preview>
      <app-green-balloon-game
        (red)="onRedBalloon()"
        (green)="onGreenBalloon()"
        (time)="onTimeUpdate($event)"
        class="green-balloon"
      ></app-green-balloon-game>
    </div>

    <div class="score-container">
      <div class="stats shadow">
        <div class="stat">
          <div class="stat-title">⚽ catches</div>
          <div class="stat-value text-primary">{{ greenCounter }}</div>
        </div>
        <div class="stat">
          <div class="stat-title">🏀 mistakes</div>
          <div class="stat-value text-primary">{{ redCounter }}</div>
        </div>
        <div class="stat">
          <div class="stat-title">Time remaining</div>
          <div class="stat-value text-primary">{{ time2Show }}</div>
        </div>
      </div>
      
    </div>
  </div>
</app-common-page>
