<section class="section">
  <div class="container">
    <div class="content is-large">
      <h1>MOVE PLAYGROUND</h1>
      <p>Move, Play, Control</p>
      <p>
        In Move Playgrounds, your body is the controller. Your movements shape
        the game in real-time. Ready to jump in?
      </p>

      <p>
        To start, you'll need to allow camera access. Click on START and follow the prompt,
        click "Allow," and you're good to go!
      </p>
      <button class="button is-large is-primary" (click)="askCameraAccess()">START</button>
      <button *ngIf="ready" class="button is-large is-primary" (click)="balloonsGame()">Go to game</button>
    </div>
  </div>
</section>

<section class="section"></section>

<app-footer></app-footer>
