<section class="section">
  <div class="container">
    <div class="content is-large">
      <h1>Move, Play, Control</h1>
      <p></p>
      <p>
        In Move Playground, your body is the controller. Your movements shape
        the game in real-time. Ready to jump in?
      </p>

      <p>
        To start, you'll need to allow camera access. Click on START and follow
        the prompt, click "Allow," and you're good to go!
      </p>
      <button
        *ngIf="!ready"
        class="button is-large is-info"
        [ngClass]="{ 'is-loading': started }"
        (click)="askCameraAccess()"
      >
        START
      </button>
    </div>
    <div *ngIf="started">
      <div *ngIf="!mediaAPIAvailable" class="notification is-warning">
        Please make sure to open this page in Internet browser that has access
        to a camera.
      </div>
      <div *ngIf="error" class="notification is-danger">
        <p>An error happened when trying to access the camera</p>
        <p>{{ error }}</p>
      </div>
      <div *ngIf="ready" class="box content is-large">
        <p>We found a camera in your browser, we are ready, what game you want to play?</p>
        <p>
          <button class="button is-large is-primary big-buttons" (click)="balloonsGame()">
            PICK THE GREEN BALLS
          </button>
          <button class="button is-large is-primary big-buttons" (click)="ticTacToeGame()">
            TIC-TAC-TOE
          </button>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section"></section>

<app-footer></app-footer>
