<app-common-page>
  <div class="text-center py-8">
    <p class="mt-6 text-lg leading-8 text-gray-600">
      To start, you'll need to allow camera access. <br>Click on START and follow
      the prompt, <br>click "Allow," and you're good to go!
    </p>
    <div class="mt-10 flex flex-col items-center justify-center gap-y-6">
      <div>
        <button
          *ngIf="!ready"
          class="btn btn-large  btn-accent"
          (click)="askCameraAccess()"
        >
          <span *ngIf="started" class="loading loading-spinner"></span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m15.75 10.5 4.72-4.72a.75.75 0 0 1 1.28.53v11.38a.75.75 0 0 1-1.28.53l-4.72-4.72M4.5 18.75h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25h-9A2.25 2.25 0 0 0 2.25 7.5v9a2.25 2.25 0 0 0 2.25 2.25Z"
            />
          </svg>
          START
        </button>
      </div>

      <div *ngIf="started">
        <app-alert-warning *ngIf="!mediaAPIAvailable">
          Please make sure to open this page in Internet browser that has access
          to a camera.
        </app-alert-warning>

        <app-alert-error *ngIf="error">
          <p>An error happened when trying to access the camera</p>
          <p>{{ error }}</p>
        </app-alert-error>

        <div *ngIf="ready">
          <app-alert-info>
            We found a camera in your browser, we are ready, what game you want
            to play?
          </app-alert-info>
          <button class="btn btn-lg  btn-primary m-4" (click)="balloonsGame(2)">
            PLAY CATCH BALLS ⚽🏀 (2 MINUTES)
          </button>
          <button class="btn btn-lg btn-primary m-4" (click)="balloonsGame(0)">
            PLAY CATCH BALLS ⚽🏀 (FREE TIME)
          </button>
        </div>
      </div>
    </div>
  </div>
</app-common-page>
