
.video-preview {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  
  .pose-preview {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  
  .green-balloon {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  