<section class="section">
  <div class="container">
    <h1 class="title">MOVE PLAYGROUND</h1>
    <app-video-source-selector
      [selectedCameraID]="selectedCameraID"
      (cameraSelected)="onCameraSelected($event)"
    ></app-video-source-selector>
  </div>
</section>

<section class="section">
  <div class="container">
    <div>GREEN: {{ greenCounter }}, RED: {{ redCounter }}, {{ time2Show }}</div>
  </div>
  <div class="container">
    <app-video-preview
      class="video-preview"
      [selectedCameraID]="selectedCameraID"
      (videoReady)="onVideoReady($event)"
    ></app-video-preview>
    <app-pose-preview class="pose-preview" [video]="video"></app-pose-preview>
    <app-green-balloon-game
      (red)="onRedBalloon()"
      (green)="onGreenBalloon()"
      (time)="onTimeUpdate($event)"
      class="green-balloon"
    ></app-green-balloon-game>
  </div>
</section>

<section class="section">
  <div class="container">
    <app-notification></app-notification>
  </div>
</section>

<app-footer></app-footer>
