<section class="section">
  <div class="container">
    <h1 class="title">MOVE PLAYGROUND</h1>

    <div class="fixed-grid">
      <div class="grid">
        <div class="cell">
          <app-video-preview
            [selectedCameraID]="selectedCameraID"
            (videoReady)="onVideoReady($event)"
          ></app-video-preview>
          <app-pose-preview class="preview" [video]="video"></app-pose-preview>
          <app-green-balloon-game class="green-balloon"></app-green-balloon-game>
          <app-video-source-selector
            [selectedCameraID]="selectedCameraID"
            (cameraSelected)="onCameraSelected($event)"
          ></app-video-source-selector>
        </div>
      </div>
    </div>
    <div>
      <app-notification></app-notification>
    </div>
  </div>
</section>
