<section class="section">
  <div class="container">
    <h1 class="title">MOVE PLAYGROUND</h1>
    <app-video-source-selector
      [selectedCameraID]="selectedCameraID"
      (cameraSelected)="onCameraSelected($event)"
    ></app-video-source-selector>
  </div>
</section>

<section class="section">
  <div class="container">
    <app-video-preview
      [selectedCameraID]="selectedCameraID"
      (videoReady)="onVideoReady($event)"
    ></app-video-preview>
    <app-pose-preview class="preview" [video]="video"></app-pose-preview>
    <app-green-balloon-game class="green-balloon"></app-green-balloon-game>
  </div>
</section>

<section class="section">
  <div class="container">
    <app-notification></app-notification>
  </div>
</section>
