<div class="bg-white shadow-md rounded-lg p-6 w-full">
  <h2 class="text-2xl font-semibold mb-4 text-center">
    To start, you'll need to enter your email and we will send you a link for
    you to login.
  </h2>
  <form>
    <div class="mb-4">
      <label for="email" class="block text-sm font-medium text-gray-700"
        >Email</label
      >

      <input
        [(ngModel)]="email"
        name="email"
        required
        id="email"
        class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        placeholder="Enter your email"
      />
    </div>
    <button
      (click)="login()"
      type="submit"
      class="w-full py-2 px-4 bg-indigo-600 text-white font-semibold rounded-md shadow hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-50"
    >
      START
    </button>
  </form>

  <div class="pt-4">
    <app-alert-info *ngIf="emailSent"
    >Please check your email to find a login link</app-alert-info
  >

  <app-alert-error *ngIf="error">
    <p>An error happened when trying to send the login link</p>
    <p>{{ error | json }}</p>
  </app-alert-error>
  </div>
</div>
